<h3>This is where we make a thing</h3>

<form method="POST" action="/things">
  <input type="text" name="thing[name]" placeholder="Name">
  <textarea name="thing[description]" placeholder="Description"></textarea>
  <input type="submit">
</form>
