<nav>
  <h1>Breakout!</h1>
</nav>

<section class="lists">
  <h3>This is the left side</h3>

  <h4>Mentors</h4>
  <ul>
    <li>Katrina</li>
    <li>Karl</li>
    <li>Kaley</li>
  </ul>

  <h4>Cohorts</h4>
  <ul>
    <li>Panda Manders</li>
    <li>Red Pandas</li>
  </ul>
</section>

<section class="createThing">
  <%= erb :"/things/new" %>
</section>

<section class="things">
  <h3>This is where the things go</h3>
  <ul></ul>
</section>

<footer>
  <p>This is a footer</p>
</footer>

